.navigation {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  background-color: rgba(255, 255, 255, 0.179);
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
}

.navigation button {
  width: 190px;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 767px) {
  .navigation button {
    width: 90px;
  }
}
